body{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
nav{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.4em;
    height: 6vh;
  }
  #navBrand{
    color: #bcbcc4;
  }
  
  /* Dropdown Button */
  .dropbtn {
    color: white;
    border: none;
    background-color: transparent;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #bcbcc4;
    background-color: #451134;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown .dropbtn{
    background-color: transparent;
    border: none;
    color: #bcbcc4;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: #451134;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  #contentContainer{
    min-height: 500px;
    border: 1px solid rgba(176, 16, 43, 0.9);
    padding: 1.5px;
  }
  #menu .menuItem{
      color: #240b36;
  }
  #menu .menuItemColor{
    border-top: 1px solid rgba(176, 16, 43, 0.9);
    border-bottom: 1px solid rgba(176, 16, 43, 0.9);
    border-left: 1px solid rgba(176, 16, 43, 0.9);
    color: #c31432;
  }

  

  /* width */
::-webkit-scrollbar {
    width: 10px;
     
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb:hover {

    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top,#c31432, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,#c31432, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top,#240b36, #c31432 ,#240b36);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,#240b36, #c31432 ,#240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
  }

.standardBtnStyle{
  padding: 17px 30px;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to  bottom,  #c31432, #240b36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,  #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  border-radius: 31px;
  color: #fff;
  font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;
  border: none;
  text-align: center;
}
.standardBtnStyle:hover{  
  color: #fff;
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1F1C18, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1F1C18, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.goBackBtn{
  display: block;
  max-width: 180px;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #575757;
  padding: 17px 30px;
  cursor: pointer;
  border-radius: 31px;
  color: #fff;
  font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;
  text-align: center;
  border: none;
}
.goBackBtn:hover{
  color: #fff;
}

.editorjs{
  /* border: 1px solid rgba(176, 16, 43, 0.9);
  border-radius: 5px; */

  /* border: 0.5px solid rgba(176, 16, 43, 0.7);
  border-radius: 3px; */

  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
}

.inputsTitles{
  font-size: 1.5em;
  font-weight: 500;
  color: #87081e;
}

#progress{
  margin-top: 0;
  margin-bottom: 8px;
}
#progressDown{
  height: 25px;
  width: 70px;
  padding: 0;
}
#saveProgress{
  height: 25px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
}
#progressUp{
  height: 25px;
  width: 70px;
  padding: 0;
}

.scrollDiv{
  max-height: 600px;
  min-height: 400px;
  overflow-y: scroll;
}
/* width */
.scrollDiv::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.scrollDiv::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
.scrollDiv::-webkit-scrollbar-thumb:hover {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,#c31432, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,#c31432, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Handle on hover */
.scrollDiv::-webkit-scrollbar-thumb {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,#240b36, #c31432 ,#240b36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,#240b36, #c31432 ,#240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.hoverableDiv{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #DBDBDB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #DBDBDB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 15px 50px 15px;
  cursor: pointer; 
}
.hoverableDiv:hover{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E0E0E0, #D9D9D9, #E0E0E0, #D9D9D9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E0E0E0, #D9D9D9, #E0E0E0, #D9D9D9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.normalDiv{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #DBDBDB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #DBDBDB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 15px 50px 15px;
}

.bitraf{
  color: #87081e;
}

.floating.ui.red.label{
  padding: 1px;
}











.notificationDropdown {
  position: relative;
  display: inline-block;
}

.notificationDropdownContent {
  height: 200px;
  width: 300px;
  overflow-y: scroll;
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.notificationDropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: small;
}

.notificationDropdownContent a:hover {background-color: #f1f1f1;}


/* width */
.notificationDropdownContent::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.notificationDropdownContent::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
.notificationDropdownContent::-webkit-scrollbar-thumb:hover {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,#c31432, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,#c31432, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Handle on hover */
.notificationDropdownContent::-webkit-scrollbar-thumb {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,#240b36, #c31432 ,#240b36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,#240b36, #c31432 ,#240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.emptyNotifications{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}