<%- include('../partials/profilHeader')%>
<p id="events" style="color: rgb(0, 0, 0, 0); font-size: 0px; display: none;"><%= JSON.stringify(user.events)%></p>

<div class="container mb-2 mt-3 px-5">
  <form action="/users/<%= user._id%>/events/new" method="get">
    <input type="text" name="addTo" value="self&others" class="d-none">
    <button id="newEvtBtn" class="d-block standardBtnStyle mt-2 mb-3" style="padding: 7px; width: 100%;">Plan new Event</button>
  </form>
</div>
<div id='calendar'></div>

<%- include('../partials/eventsFooter')%>