<div class="field my-1 d-none">
    <textarea id="projectDoc" name="project[detail]"> <%= project.detail%> </textarea>
</div>

<label for="editorHugeContainer"><span class="inputsTitles">Documentation</span></label>
<div id="editorHugeContainer" class="ce-example">
    <div class="ce-example__content _ce-example__content--small">
        <div id="showProjectEditorjs" class="editorjs"></div>
    </div>
</div>